{% extends 'base.html' %}
{% load static %}
{% block title %}Finanças Família M&M{% endblock %}
{% block page_title %}Dashboard{% endblock %}
{% block content %}
    <!-- Page Content -->
    {% include 'partials/carousel.html' %}
    {% include 'partials/servicos.html' %}
    {% include 'partials/dados.html' %}

    <div class="more-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="more-info-content">
              <div class="row">
                <div class="col-md-6">
                  <div class="left-image">
                    <img src="{% static 'contabilidade/images/IMG-20251225-WA0009.jpg' %}" alt="">
                  </div>
                </div>
                <div class="col-md-6 align-self-center">
                  <div class="right-content">
                    <span>Quem somos??</span>
                    <h2>Saiba mais sobre <em>nossa família</em></h2>
                    <p>Nossa família foi constituída em 2003 e fomos morar perto do aeroporto Afonso Pena em São José dos Pinhais, logo chegou o Vitinho e depois a Marcotinha, nossos doces filhos.<br><br>Hoje moramos em Curiitiba no Allto Boqueirão e as crianças já não são tão crianças assim...</p>
                    <a href="#" class="filled-button">Saiba mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'partials/rodape.html' %}
{% endblock %}